@import url("http://fonts.cdnfonts.com/css/moon-get");

* {
  font-family: "MOON GET!", sans-serif !important;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242b37;
  user-select: none;
  max-width: 800px;
  margin: auto;
}